In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/avia_par_pl.tsv.gz&unzip=true'

In [5]:
routes = pd.read_csv(url,delimiter='\t')

In [6]:
routes.head()

,"unit,tra_meas,airp_pr\time",2019Q3,2019Q2,2019Q1,2019M09,2019M08,2019M07,2019M06,2019M05,2019M04,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,"FLIGHT,CAF_PAS,PL_EPBY_BG_LBBG",70,18,:,16,26,28,18,:,:,...,:,:,:,:,:,:,:,:,:,:
1,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF",184,182,174,60,62,62,60,62,60,...,:,:,:,:,:,:,:,:,:,:
2,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
4,"FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW",60,52,56,24,18,18,16,18,18,...,:,:,:,:,:,:,:,:,:,:

In [9]:
routes_desc = routes['unit,tra_meas,airp_pr\\time'].str.split(',', expand=True)

In [11]:
routes_desc.rename({0:'unit',1:'tre_meas',2:'airport'}, axis=1, inplace=True)

In [12]:
routes_desc.head()

     unit tre_meas          airport
0  FLIGHT  CAF_PAS  PL_EPBY_BG_LBBG
1  FLIGHT  CAF_PAS  PL_EPBY_DE_EDDF
2  FLIGHT  CAF_PAS  PL_EPBY_DE_EDLV
3  FLIGHT  CAF_PAS  PL_EPBY_ES_LEGE
4  FLIGHT  CAF_PAS  PL_EPBY_IE_EIDW

In [14]:
routes_desc = routes_desc.join(routes)

In [15]:
routes_desc.drop('unit,tra_meas,airp_pr\\time', axis=1, inplace=True)

In [16]:
routes_desc.head()

,unit,tre_meas,airport,2019Q3,2019Q2,2019Q1,2019M09,2019M08,2019M07,2019M06,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,FLIGHT,CAF_PAS,PL_EPBY_BG_LBBG,70,18,:,16,26,28,18,...,:,:,:,:,:,:,:,:,:,:
1,FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF,184,182,174,60,62,62,60,...,:,:,:,:,:,:,:,:,:,:
2,FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
4,FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW,60,52,56,24,18,18,16,...,:,:,:,:,:,:,:,:,:,:

In [19]:
json_link = 'http://www.floatrates.com/daily/pln.json'
pd.read_json(json_link).transpose()

,code,alphaCode,numericCode,name,rate,date,inverseRate
usd,USD,USD,840,U.S. Dollar,0.255093,"Sat, 6 Jun 2020 11:00:01 GMT",3.92014
eur,EUR,EUR,978,Euro,0.225129,"Sat, 6 Jun 2020 11:00:01 GMT",4.4419
gbp,GBP,GBP,826,U.K. Pound Sterling,0.201605,"Sat, 6 Jun 2020 11:00:01 GMT",4.96019
aud,AUD,AUD,036,Australian Dollar,0.365172,"Sat, 6 Jun 2020 11:00:01 GMT",2.73844
cad,CAD,CAD,124,Canadian Dollar,0.343055,"Sat, 6 Jun 2020 11:00:01 GMT",2.91499
...,...,...,...,...,...,...,...
myr,MYR,MYR,458,Malaysian Ringgit,1.09044,"Sat, 6 Jun 2020 11:00:01 GMT",0.917057
ron,RON,RON,946,Romanian New Leu,1.08938,"Sat, 6 Jun 2020 11:00:01 GMT",0.917954
pen,PEN,PEN,604,Peruvian Nuevo Sol,0.874532,"Sat, 6 Jun 2020 11:00:01 GMT",1.14347
lbp,LBP,LBP,422,Lebanese Pound,381.718,"Sat, 6 Jun 2020 11:00:01 GMT",0.00261973
mga,MGA,MGA,969,Malagasy ariary,972.203,"Sat, 6 Jun 2020 11:00:01 GMT",0.00102859