In [2]:
import pandas as pd
import numpy as np

df_blood = pd.DataFrame({'Group'      :  ['0','0','A','A','B','B','AB','AB'],
                         'Rh'         :  ['+','-','+','-','+','-','+','-'],
                         'Population' :  [31,6,32,6,15,2,7,1]})

In [3]:
df_blood

  Group Rh  Population
0     0  +          31
1     0  -           6
2     A  +          32
3     A  -           6
4     B  +          15
5     B  -           2
6    AB  +           7
7    AB  -           1

In [4]:
df_blood.to_csv('blood.csv')

In [5]:
df_blood.loc[:,'Population']/=100

In [6]:
df_blood

  Group Rh  Population
0     0  +        0.31
1     0  -        0.06
2     A  +        0.32
3     A  -        0.06
4     B  +        0.15
5     B  -        0.02
6    AB  +        0.07
7    AB  -        0.01

In [7]:
df_blood.to_csv('blood.csv', index=False)

In [8]:
df_blood.to_csv('blood.csv', index=False, columns=['Group','Rh'])

In [9]:
pd.read_csv('blood.csv')

  Group Rh
0     0  +
1     0  -
2     A  +
3     A  -
4     B  +
5     B  -
6    AB  +
7    AB  -

In [10]:
df_blood.to_csv('blood.csv', index=False, columns=['Group','Rh'], sep=';')

In [14]:
pd.read_csv('blood.csv', sep=';')

  Group Rh
0     0  +
1     0  -
2     A  +
3     A  -
4     B  +
5     B  -
6    AB  +
7    AB  -

In [15]:
df_blood.to_csv('blood.csv', index=False, columns=['Group','Rh'], sep=';', mode='a',
               header=False)

In [16]:
pd.read_csv('blood.csv', sep=';')

   Group Rh
0      0  +
1      0  -
2      A  +
3      A  -
4      B  +
5      B  -
6     AB  +
7     AB  -
8      0  +
9      0  -
10     A  +
11     A  -
12     B  +
13     B  -
14    AB  +
15    AB  -

In [17]:
df_blood.to_json('blood.json')

In [18]:
pd.read_json('blood.json')

  Group Rh  Population
0     0  +        0.31
1     0  -        0.06
2     A  +        0.32
3     A  -        0.06
4     B  +        0.15
5     B  -        0.02
6    AB  +        0.07
7    AB  -        0.01